{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-3",
    "es2015",
    "react"
  ],
  "plugins": [
    [
      "transform-react-remove-prop-types",
      {
        "mode": "wrap"
      }
    ],
    ["import", { "libraryName": "antd", "style": "css" }]
  ],
  "env": {
    "dev": {
      "presets": [
        "react-hmre"
      ]
    }
  }
}
